@import "variables";

ul {
  margin: 0;
  padding: 0;
}

.report-panel {
  max-width: 1000px;
  padding: 20px;
}

.report-header {
  line-height: 2;
  .col-report {
    background-color: darken($aliceBlue, 5%);
  }
}

.row-report {
  display: flex;
  justify-content: start;
  list-style: none;
  margin-bottom: 10px;
}

.col-report {
  border-right: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 25px;
  background-color: $aliceBlue;

  &__id {
    width: 10%;
  }
  &__name {
    width: 30%;
  }
  &__user-resolved {
    width: 20%;
  }
  &__active {
    width: 20%;
  }
  &__img {
    width: 15%;
    img {
      width: 100%;
      height: 60px;
      object-fit: contain;
    }
  }
  &__graph {
    width: 10%;
    cursor: pointer;
    img {
      max-width: 30px;
    }
  }
}

.graph {
  max-width: 500px;
}
